""" NOTES """
" to reload vimrc :action IdeaVim.ReloadVimRc.reload

source ~/.config/intellimacs/spacemacs.vim

" (Optional) Enable other Intellimacs modules
source ~/.config/intellimacs/extra.vim
" source ~/.config/intellimacs/major.vim

" (Optional) Enable which-key plugin
source ~/.config/intellimacs/which-key.vim

" (Optional) My own vim commands
nnoremap Y y$

" (Optional) Add/edit actions

" Clear search highlights.
nnoremap <Esc>    :nohlsearch<CR>
vnoremap <Esc>    <Esc>:nohlsearch<CR>

" Execute an action. Like <M-x>
nnoremap <leader><leader>    :action GotoAction<CR>
vnoremap <leader><leader>    :action GotoAction<CR>
inoremap <leader><leader>    <Esc>:action GotoAction<CR>

" Move lines down
let g:WhichKeyDesc_Text_MoveLinesDown = "<C-j> move-lines-down"
nnoremap <C-j>    $:action MoveLineDown<CR>
vnoremap <C-j>    $:action MoveLineDown<CR>

" Move lines up
let g:WhichKeyDesc_Text_MoveLinesUp = "<C-k> move-lines-up"
nnoremap <C-k>    $:action MoveLineUp<CR>
vnoremap <C-k>    $:action MoveLineUp<CR>

" Find usages
let g:WhichKeyDesc_SearchSymbol_FindUsages = "<leader>grr find-usages"
nnoremap <leader>grr    :action FindUsages<CR>
vnoremap <leader>grr    :action FindUsages<CR>
