[user]
	name = Dat
[core]
	autocrlf = input
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global
[include]
	# Update .gitconfig-local with local config
	path = ~/.gitconfig-local
[pull]
	rebase = true
[push]
	default = current
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	side-by-side = true
[merge]
	tool = nvimdiff
	conflictStyle = zdiff3
[mergetool "nvimdiff"]
	# This layout shows: LOCAL | REMOTE | BASE (hidden)
	# And the MERGED result at the bottom
	layout = "LOCAL,REMOTE / MERGED"
[diff]
	tool = nvimdiff
	# This ensures 'git diff' doesn't launch a separate window instantly
	guitool = nvimdiff
