[user]
	name = Tran Dat, Le
[core]
	autocrlf = input
	# use vscode as editor
	editor = code --wait
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true

# use code as diff and merge tool
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = code
[mergetool "code"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[include]
	# Update .gitconfig-local with local config
    path = ~/.gitconfig-local
[push]
	default = current
