""" NOTES """
" to reload vimrc :action IdeaVim.ReloadVimRc.reload

""" CORE SETTINGS """
" Yank to system clipboard
set clipboard+=unnamed
" Stop Vim from yanking visual selected text
xnoremap p pgvy
set relativenumber

""" REMAP """
" Map leader to space
let mapleader=" "
" Y to copy from current to $
nmap Y y$

" General:
" Action Go to File
map <leader>f <Action>(GotoFile)
" Action Go to Action
map <leader>a <Action>(GotoAction)
" Action open recent projects
map <C-e> <Action>(RecentProjectListGroup)

" Buffer: close(bo) all others
map <leader>bo <Action>(CloseAllEditorsButActive)

" Splitter
map <C-h> <Action>(NextSplitter)
map <C-l> <Action>(PrevSplitter)

" Tab
nmap L <Action>(NextTab)
nmap H <Action>(PreviousTab)


""" PLUGINS """
"""" easymotion start """"
set easymotion
map f <Plug>(easymotion-lineanywhere)
"""" easymotion end """"

"""" NERDTree start """"
set NERDTree
"""" NERDTree end """"

