""" NOTES """
" to reload vimrc :action IdeaVim.ReloadVimRc.reload

""" CORE SETTINGS """
" Yank to system clipboard
set clipboard+=unnamed
" Stop Vim from yanking visual selected text
xnoremap p pgvy
set relativenumber

""" REMAP """
" Map leader to space
let mapleader=" "
" Y to copy from current to $
nmap Y y$

" Action Go to File
map <leader>f <Action>(GotoFile)
" Action Go to Action
map <leader>a <Action>(GotoAction)

""" PLUGINS """
"""" easymotion start """"
set easymotion
map f <Plug>(easymotion-jumptoanywhere)
"""" easymotion end """"

"""" NERDTree start """"
set NERDTree
"""" NERDTree end """"

